{% extends "base.html" %}

{% block content %}
<h1 class="my-4">Libremanuals</h1>
{% for p in pages if p.isbn %}
  {% if loop.index % 4 == 1 %}
    {% if loop.index != 1 %}
      </div>
    {% endif %}
    <div class="row">
  {% endif %}
  <article class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="{{ p.url }}"><img class="card-img-top" src="{{ p.img }}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title"><a href="{{ p.url }}">{{ p.title }}</a></h4>
        <div class="card-text">
          <ul>
            <li>ISBN: {{ p.isbn }}</li>
            <li>Número de páginas: {{ p.pages }}</li>
            <li>Precio: {{ p.price }}</li>
          </ul>
        </div>
      </div>
    </div>
  </article>
  {% if loop.last%}
    </div>
  {% endif %}
{% endfor %}
{% endblock content %}
