{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}
{% block navbar_title %}{{ SITENAME }}{% if page.short_title %} - {{ page.short_title }}{% else %}{{ page.short_title }}{% endif %}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="my-4">{{ page.title }}</h1>
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}


  {% if page.img %}
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <div class="card h-100">
          <img class="card-img-top" alt="" src="{{ page.img }}">
        </div>
      </div>
      <div class="col-sm-8 portfolio-item">
        <div class="card h-100">
          {{ page.content }}
        </div>
      </div>
    </div>
  {% else %}
    {{ page.content }}
  {% endif %}

{% endblock %}
